body,
html {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: "Poppins", sans-serif;
}

#container {
  height: 100vh;
  width: 100vw;
}

.chat-container {
  height: 100%;
  width: 100%;
  display: flex;
}

.chat-threads {
  height: 100%;
  overflow-y: auto;
  width: 30vw;
  background: #f9f9f9;
}

.chat-thread {
  padding: 2em;
  border-bottom: 1px solid #e0e0e0;
  cursor: pointer;
}

.chat-thread:hover {
  background: #f5f5f5;
}

.chat-thread.selected {
  background: #f5f5f5;
}

.chat-thread-title {
  font-size: 1.5em;
  font-weight: bold;
  color: #4c7dfe;
}

.chat-thread-last-message {
  color: #474747;
}

.chat-conversation {
  width: 70vw;
  background: white;
  display: flex;
  flex-direction: column;
  position: relative;
  height: 100vh;
}

.chat-conversation-header {
  padding: 1rem;
  font-size: 2em;
  font-weight: 600;
  border-bottom: 1px solid #e0e0e0;
}

.chat-conversation-title::before {
  content: "Conversation with ";
  font-size: 1.5rem;
  margin: 0;
  padding: 0;
}

.chat-conversation-messages {
  flex-grow: 1;
  padding: 2rem;
  overflow: auto;
}

.chat-message {
  width: fit-content;
  margin-left: auto;
  margin-right: 0;
  margin-top: 1em;
}

.chat-message.recieved {
  margin-left: 0;
  margin-right: auto;
}

.chat-message-text {
  border-radius: 8px;
  padding: 1rem;
}

.chat-message-text.recieved {
  background: #4c7dfe;
  margin-left: 0;
  margin-right: auto;
  color: white;
  font-weight: 500;
}

.chat-message-text.sent {
  background: #f5f5f5;
}

.chat-message-timestamp {
  color: #ccc;
  font-size: 0.8em;
  margin-top: 4px;
}

.chat-conversation-input {
  width: calc(70vw - 4em);
  padding: 2em;
  border-top: 1px solid #e0e0e0;
  display: flex;
  flex-direction: row;
  gap: 1em;
}

.chat-conversation-input input {
  border-radius: 8px;
  border: 1px solid #e0e0e0;
  padding: 1rem;
  font-size: 1em;
  font-weight: 500;
  outline: none;
  flex-grow: 1;
}

.chat-conversation-input button {
  padding: 1rem;
  font-size: 1em;
  border: 1px solid #4c7dfe;
  background: #4c7dfe;
  color: white;
  border-radius: 8px;
  font-weight: bold;
  cursor: pointer;
  transition: all 200ms ease;
}

.chat-conversation-input button:hover {
  background: white;
  color: #4c7dfe;
}

.chat-conversation-input button:active {
  transform: scale(1.1);
}
